<section class="fitting">
  <div class="container">
    <div class="fitting__content">
      <h1 class="fitting__title">Примерьте Очки Виртуально</h1>
      <div class="fitting__text">
        Мы предоставляем уникальную возможность примерки очков перед принятием окончательного решения. В поиске
        идеальных
        очков, Вы можете примерять оправы виртуально - как будто Вы стоите напротив обычного зеркала. Найдите эту опцию
        на странице с оправами и примеряйте столько
        оправ, сколько захотите!
      </div>
      <div class="fitting__image-wrap">
        <img alt="" src="../../../../assets/images/fitting/widget.png">
        <img alt="" src="../../../../assets/images/fitting/widgetSettings.png">
      </div>
      <div class="fitting__desc">
        <h2>Как работает онлайн-примерка?</h2>
        <p>1. Ищите в нашем каталоге модели очков с пометкой <span class="fitting__desc-btn"> Онлайн примерка </span>.
          Нажмите на иконку, чтобы запустить Виртуальную
          Примерку.</p>
        <p>2. Подтвердите выбранную оправу.</p>
        <p>3. Загрузите свою фотографию. Отрегулируйте изображение.</p>
        <p>4. Наведите <span class="fitting__desc-cross">+</span> перетаскиванием в центр ваших
          глаз</p>
        <p>5. Нажмите "Надеть очки"</p>
      </div>
    </div>
  </div>
</section>
