<div class="widget">
  <div class="widget__wrap">
    <div class="widget__content">
      <div (click)="_closeWidget()" class="widget__close">×</div>
      <ng-container *ngIf="_isValid; then SettingsWidgetTemplate else DefaultWidgetContentTemplate"></ng-container>
    </div>
  </div>
</div>

<ng-template #DefaultWidgetContentTemplate>
  <div class="widget__image-wrap">
    <img [ngStyle]="_userImgStyle" [src]="_uploadImg" alt="">
  </div>
  <div class="widget__info">
    <div class="widget__title">{{title}}</div>
    <div class="widget__glasses-img-wrap">
      <img [src]="glassesImg" alt="" class="v-mirror__glasses-img">
    </div>
    <button (click)="_isValid = !_isValid" class="widget__btn">Надеть оправу</button>
    <div class="widget__title">Описание</div>
    <div class="widget__desc">{{desc}}</div>
  </div>
  <div class="widget__glasses">
    <div class="widget__glasses-subtitle">Похожие товары</div>
    <div class="widget__glasses-img-wrap">
      <div class="widget__glasses-img-item" routerLink="../621250366afa33d40bb1a734">
        <img alt="" class="widget__glasses-img"
             src="assets/images/glasses/10033.png">
        <p class="widget__glasses-text">Muse Skip Shiny Black</p>
      </div>
      <div class="widget__glasses-img-item" routerLink="../62125119d0bec297c0deaa44">
        <img alt="" class="widget__glasses-img"
             src="assets/images/glasses/9566.png">
        <p class="widget__glasses-text">Muse Skip Shiny Black</p>
      </div>
      <div class="widget__glasses-img-item" routerLink="../6212507a9f5f73dbcd6ae34f">
        <img alt="" class="widget__glasses-img"
             src="assets/images/glasses/9493.png">
        <p class="widget__glasses-text">Muse Skip Shiny Black</p>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #SettingsWidgetTemplate>
  <div class="widget__image-wrap">
    <img [ngStyle]="_userImgStyle" [src]="_uploadImg" alt="" cdkDrag>
    <div cdkDrag cdkDragBoundary=".widget__image-wrap" class="widget__cross" id="leftDraggable"
         style="left: 0; top: 0; transform: translate3d(250px, 200px, 0px);"></div>
    <div cdkDrag cdkDragBoundary=".widget__image-wrap" class="widget__cross" id="rightDraggable"
         style="left: 0; top: 0; transform: translate3d(350px, 200px, 0px);"></div>
    <img [ngStyle]="_glassesStyle" [src]="glassesImg" alt="Виртуальные очки" id="widget__img">
    <div class="file-upload">
      <label>
        <div class="file-upload__icon"></div>
        <input (change)="uploadFile($event)" id="uploadImg" name="uploadImg" type="file">
        <span class="uploadImg__fileName">Загрузить фото</span>
      </label>
    </div>
  </div>
  <div class="widget__settings">
    <div (click)="_isValid = !_isValid" class="widget__settings-back">
    </div>
    <h2 class="widget__settings-title">Настройте изображение</h2>
    <div class="widget__settings-list">
      <div class="widget__settings-item">
        1. Красные мишени направьте в центр ваших глаз
      </div>
      <div class="widget__settings-item">
        2. Установите ваш PD (значение по умолчанию 62)
        <input (input)="setPD($event)" class="widget__settings-size-input" max="200" min="30" name="size"
               type="range" [value]="_PD">
        <div class="widget__settings-input">{{_PD}} </div>
      </div>
      <div class="widget__settings-item">
        3. Отрегулируйте изображение с помощью ползунков
      </div>
      <div class="widget__settings-item">
        <div class="widget__settings-subtitle">Размер изображения</div>
        <input (input)="resizeImg($event)" class="widget__settings-size-input" max="200" min="30" name="size"
               type="range" value="100">
      </div>
      <div class="widget__settings-item">
        <div class="widget__settings-subtitle">Поворот изображения</div>
        <input (input)="rotationImg($event)" class="widget__settings-size-input" max="180" min="-180" name="rotation"
               type="range" value="0">
      </div>
      <div class="widget__settings-item">
        <div class="widget__btn-wrap">
          <button (click)="setGlasses()" class="widget__btn">Надеть очки</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
