.product {
  font-family: 'Jost', sans-serif;

  &__header {
    padding-top: 67px;
    display: flex;
    justify-content: space-between;
  }

  &__bottom {
    padding-top: 50px;
  }

  &__images {
    display: flex;
    justify-content: space-between;
    width: 573px;
  }

  &__fit {
    margin-bottom: 50px;
  }

  &__add {
    width: 598px;
  }

  &__title {
    margin-bottom: 38px;
  }

  &__presence {
    margin-bottom: 50px;
  }
}

.btn {
  background: #F5F5F5;
  border: 1px solid #BB8C5F;
  color: #BB8C5F;
}

.title {
  font-weight: bold;
  font-size: 30px;
}

.images_small {
  display: flex;
  flex-direction: column;
  margin-right: 20px;

  &__img {
    width: 83px;
    margin-bottom: 20px;

    &_active {
      border: 1px solid #BB8C5F;
      box-sizing: border-box;
    }
  }
}

.fit-btn {
  padding: .75rem 1.5rem;
}

.presence {
  display: flex;
  align-items: center;

  &__price {
    font-weight: bold;
    font-size: 24px;
    color: #BB8C5F;
    margin-right: 53px;
  }

  &__storage {
    font-size: 17px;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;

  &__left {
    width: 515px;
  }

  &__right {
    width: 598px;
  }

  &__title {
    font-weight: bold;
    font-size: 25px;
    color: #3E424B;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 17px;
    line-height: 140%;
    color: #3E424B;
  }
}

.product__buy {
  display: flex;
  align-items: center;

}

.product-title {
  padding-top: 50px;
}

.byu__quantity {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.quantity {
  &__btn {
    border: none;
    color: var(--text-color);
    outline: none;
    background-color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }

  &__text {
    display: inline-block;
    width: 35px;
    text-align: center;
    font-size: 0.85rem;
    padding: 0.3rem 0;
    border: 1.5px solid var(--gold-color);
    margin: 0 15px;
  }
}

.buy__cart {
  padding: 0.75rem 1.5rem;
  background-color: #524336;
  color: var(--light-color);

  &:disabled {
    opacity: 0.7;
  }
}

.center {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}
