<div *ngIf="!loading" class="container">
  <h1 class="title-section product-title">Описание товара</h1>
  <div class="product">
    <div class="product__header">
      <div class="product__images">
        <div class="images_small">
          <div (click)="changeBigImage()" class="images_small__img images_small__img_active">
            <img alt="#" class="small__img" src="./assets/images/glasses/{{imgUrl}}">
          </div>
        </div>
        <div class="images_big">
          <img alt="#" class="images_big__img" src="./assets/images/glasses/{{imgUrl}}">
        </div>
      </div>
      <div class="product__add">
        <div class="product__title title">
          {{product.product.title}}
        </div>
        <div class="product__fit">
          <button (click)="_showWidget()" class="fit-btn btn">
            Онлайн примерка
          </button>
        </div>
        <div class="product__presence presence">
          <div class="presence__price">
            {{product.price}} &#8381;
          </div>
          <div class="presence__storage">
            Наличие: {{product.count}}
          </div>
        </div>
        <div class="product__buy buy">
          <div *ngIf="disabledBtn" class="byu__quantity quantity">
            <button (click)="decrementQuantity(product)" class="quantity__btn">&ndash;</button>
            <p class="quantity__text">{{product.quantity}}</p>
            <button (click)="incrementQuantity(product)" class="quantity__btn">+</button>
          </div>
          <button (click)="addToCart()" [disabled]="disabledBtn"
                  class="buy__cart btn"
          >
            {{btnText}}
          </button>
        </div>
      </div>
    </div>
    <div class="product__bottom bottom">
      <div class="bottom__left">
        <div class="bottom__title">
          Описание
        </div>
        <div class="bottom__text">
          {{product.product.description}}
        </div>
      </div>
      <div class="bottom__right">
      </div>
    </div>
  </div>
</div>


<div *ngIf="loading">
  <div class="loader container center">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>

<app-widget (isConfirmed)="_closeWidget()"
            *ngIf="_widgetVisible" [desc]="product.product.description"
            [frameWidth]="product.product.width"
            [glassesImg]="'./assets/images/glasses/' + product.product.mirror_frame"
            [title]="product.product.title"></app-widget>
