.header {
  background-color: var(--primary-color);
  color: var(--font-text);
  padding: 14px;

  .header-up {
    padding-bottom: 14px;
    display: flex;
    justify-content: space-between;
  }

  .header-down {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
}

.header-up__contacts {
  display: flex;
  padding-top: 20px;
}

.contacts-phone {
  display: flex;
  flex-direction: column;
  margin-right: 57px;

  .contacts-phone__call {
    display: flex;
    align-items: center;

    .contacts-phone__call-logo {
      width: var(--icons-size);
      height: var(--icons-size);
      margin-right: 10px;
    }

    //&:hover
    //.contacts-phone__call-logo {
    //  fill: var(--hover-text);
    //}
    //&:hover
    //.contacts-phone__call-number {
    //  color: var(--hover-text);
    //}
  }

  .social-list {
    list-style: none;
    font-size: 12px;
    display: flex;
    width: 152px;
    justify-content: space-between;

    .social-list__link {
      text-decoration: none;
      color: var(--font-text);

      &:hover {
        color: var(--hover-text);
      }
    }
  }
}

.contacts-mail {
  display: flex;
  height: var(--icons-size);
  align-items: center;

  .contacts-mail__icon {
    background-image: url("src/assets/images/header/header-up/mail.png");
    background-position: center;
    width: var(--icons-size);
    height: var(--icons-size);
    margin-right: 12px;
    background-repeat: no-repeat;
  }
}

.liked-products__count {
  color: var(--light-color);
  display: inline-block;
  background-color: transparent;
  //background-color: var(--hover-text);
  position: absolute;
  margin-left: 26px;
  font-size: 14px;
  padding: 2px;
  margin-top: -6px;
}

.user-info__favorites:hover .liked-products__count {
  background-color: var(--gold-color);
}

.user-info__basket:hover .basket__count {
  background-color: var(--gold-color);
}

.logo {
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}

.header-up__user-info {
  padding-top: 20px;
}

.user-info__list {
  width: 245px;
  height: var(--icons-size);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .user-info__basket {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--font-text);

    .basket__icons {
      background-image: url("src/assets/images/header/header-up/basket.png");
      background-position: center;
      width: var(--icons-size);
      height: var(--icons-size);
      margin-left: 6px;
      background-repeat: no-repeat;
    }

    .basket__count {
      display: inline-block;
      //background-color: var(--hover-text);
      position: absolute;
      bottom: 15px;
      font-size: 14px;
      right: -6.5px;
      padding: 2px;
      z-index: 1;
    }
  }

  .user-info__favorites {
    background-image: url("src/assets/images/header/header-up/favorites.png");
    background-position: center;
    width: var(--icons-size);
    height: var(--icons-size);
    background-repeat: no-repeat;
  }

  .user-info__login {
    background-image: url("src/assets/images/header/header-up/login.png");
    background-position: center;
    width: var(--icons-size);
    height: var(--icons-size);
    background-repeat: no-repeat;
  }
}

.header-stick {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #524336;
  margin-bottom: 13px;
}

#triangle-left {
  right: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-right: 5px solid #524336;
  border-bottom: 3px solid transparent;
}

#triangle-right {
  left: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-left: 5px solid #524336;
  border-bottom: 3px solid transparent;
}

.menu__hamburger {
  cursor: pointer;
  margin-left: 10px;

  .bar-top,
  .bar-center,
  .bar-bottom {
    width: 25px;
    height: 2px;
    background-color: #BB8C5F;
    margin: 4px 0;
    transition: 0.4s;
  }

}

.change .bar-top {
  transform: rotate(-45deg) translate(-5px, 0px);
}

.change .bar-center {
  opacity: 0;
}

.change .bar-bottom {

  transform: rotate(45deg) translate(-8px, -4px);
}

.header-down__menu {
  z-index: 1;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;


  .header-down__menu__title {
    cursor: pointer;
  }
}

.header-down__search {
  height: 100%;
  width: 34%;
}

.header-down__menu-toggle {
  opacity: 0;
  animation: ani 0.5s forwards;
  transition: .55s opacity, .55s visibility;
  position: absolute;
  left: 50%;
  bottom: -15px;

  .menu-toggle__diamond {
    position: absolute;
    height: 20px;
    width: 20px;
    transform: rotate(-45deg);
    background-color: #f5f5f5;
  }

}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-down__search form {
  background-color: #050402;
  width: 100%;
  height: 100%;
  border: 1px solid #524336;
  display: flex;
  align-items: center;
  padding: 8px 16px;

  .header-down__search__input {
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    font-size: 17px;
    color: #FAF6F2;
    width: 100%;
  }

  .header-down__search__icon {
    height: 28px;
    width: 28px;
    background-image: url("src/assets/images/header/header-down/Search.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.header-down__navbar {

  display: flex;
  justify-content: space-between;
  width: 40%;

  .header-down__navbar__item {
    position: relative;

    text-decoration: none;
    color: #FAF6F2;

    .header-down__navbar__text {
      color: #FAF6F2;
      cursor: pointer;
      background: none;
      border: none;
    }

    .header-down__navbar__line {
      display: none;
      position: absolute;
      border-left: 2px solid var(--hover-text);
      height: 13px;
      left: 50%;
      bottom: -25px;

      .diamond {
        position: absolute;
        width: 5px;
        height: 5px;
        background: var(--hover-text);
        transform: rotate(-45deg);
        right: -1.4px;
      }
    }

    &:hover {
      color: var(--hover-text);
    }

    &:hover .header-down__navbar__line {
      display: block;
    }
  }

}

@media screen and (max-width: 860px) {
  .header {
    height: 80px;
  }

  .header-up__contacts, .logo, .header-stick, .header-down__navbar {
    visibility: hidden;
  }

  .header-down__menu, .header-down__search {
    margin-top: -11em;
  }
}

@media screen and (max-width: 540px) {
  .header {
    height: 80px;
  }

  .header-up__contacts, .logo, .header-stick, .header-down__search, .user-info__favorites, .user-info__login {
    visibility: hidden;
  }
}
