<div>
  <div class="favorite__container">
    <div class="favorite container" *ngIf="favoriteProducts.length else productListEmpty">
      <div class="favorite__title">
        <h1 class="title-section">Избранное</h1>
      </div>
      <div class="favorite__products">
        <div class="favorite__item item" *ngFor="let product of favoriteProducts | filter:searchKey:'title'">
          <div class="item__info" [routerLink]="['/catalog', product._id]">
            <div class="item__icon icon">
              <button class="icon__btn" [ngClass]="{red: product.isFavorite}" (click)="addToFavorites(product, $event);">
                <i class="fa-solid fa-heart"></i>
              </button>
            </div>
            <div class="item__image">
              <img src="./assets/images/glasses/{{product.product.image}}" alt="#">
            </div>

            <div class="item__text">
              <p class="item__title">{{product.product.title}}</p>
              <p class="item__price">{{product.price}} &#8381;</p>
            </div>
          </div>
          <div class="item__btns">
            <button
              class="item__btn btn"
              (click)="addToCart(product)"
              *ngIf="!product.isAddToCart"
            >
              Добавить в козину
            </button>
            <div class="item__quantity quantity-info" *ngIf="product.isAddToCart">
              <button class="quantity-info__btn btn" (click)="decrementQuantity(product)">&ndash;</button>
              <div class="quantity-info__text">
                <p class="quantity-info__title">{{product.quantity}} шт</p>
                <p class="quantity-info__in-cart">В корзине</p>
              </div>
              <button class="quantity-info__btn btn" (click)="incrementQuantity(product)">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #productListEmpty>
    <div class="container empty-list">
      <p>Товары не добавлены!</p>
    </div>
  </ng-template>
</div>



