<form (ngSubmit)="submit()" [formGroup]="form" class="card">
  <h2>Добавить администратора</h2>
  <div
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
    class="form-control"
  >
    <label for="email">Email:</label>
    <input formControlName="email" id="email" type="email">
    <div
      *ngIf="form.get('email').touched && form.get('email').invalid"
      class="validation"
    >
      <small *ngIf="form.get('email').errors.required">Введите Email</small>
      <small *ngIf="form.get('email').errors.email">Введите корректный Email</small>
    </div>
  </div>
  <div
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
    class="form-control"
  >
    <label for="password">Пароль:</label>
    <input formControlName="password" id="password" type="password">
    <div
      *ngIf="form.get('password').touched && form.get('password').invalid"
      class="validation"
    >
      <small *ngIf="form.get('password').errors.required">Введите пароль</small>
      <small *ngIf="form.get('password').errors.minlength">
        Пароль должен быть не менее {{form.get('password').errors.minlength.requiredLength}} Символов.
        Сейчас длина равна {{form.get('password').errors.minlength.actualLength}}.

      </small>
    </div>
  </div>

  <button
    [disabled]="form.invalid || form.disabled"
    class="btn btn-dark"
    type="submit"
  >Создать
  </button>
</form>
