<footer class="footer">
  <div class="container footer__content">
    <div class="footer-left">
      <div class="footer-left__up">
        <div [routerLink]="NavigationPath.Home" class="footer-left__logo">
          <img alt="#" src="../../../../assets/images/footer/logo.png">
        </div>
        <div class="footer-left__nav">
          <div class="footer-left__nav-top">
            <a [routerLink]="NavigationPath.Fitting" class="footer-left__nav__link">Онлайн примерка</a>
            <a [routerLink]="NavigationPath.AboutCompany" class="footer-left__nav__link">О нас</a>
          </div>
          <div class="footer-left__nav-bottom">

            <a [routerLink]="NavigationPath.Contacts" class="footer-left__nav__link">Контакты</a>
          </div>
        </div>
      </div>
      <p class="footer-left__down">Политика конфиденциальности </p>
    </div>
    <div class="footer__stick__vl">
      <div class="vl-right"></div>
      <div class="vl-left"></div>
    </div>
    <div class="footer__stick">
      <div id="triangle-right"></div>
      <div id="triangle-left"></div>
    </div>
    <div class="footer-right">
      <div class="footer-social">
        <div class="contacts-phone__call">
          <svg class="contacts-phone__call-logo" fill="none" height="21" viewBox="0 0 21 21"
               width="21" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M1 3.37753L4.30288 1.00627C4.30288 1.00627 4.39654 0.906274 5.00967 1.50499C5.6228 2.10371 7.73825 4.86252 7.73825 4.86252L7.01421 7.88282L12.633 13.4993L15.6524 12.7763L18.9923 15.2441L19.5089 16.2115L17.1375 19.5142L13.5132 19.4803L1.03389 7.00169L1 3.37753Z"
                  fill-rule="evenodd"
                  stroke="#FAF6F2" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
          </svg>
          <p class="contacts-phone__call-number">+7 939 755-95-25</p>
        </div>
        <div class="footer-social__icons">
          <div class="footer__icon telegram"></div>
          <div class="footer__icon whatsapp"></div>
          <div class="footer__icon viber"></div>
        </div>
      </div>
      <p class="footer_times">Время работы: с 9:00 до 20:00 по мск</p>
      <div class="contacts-mail">
        <div class="contacts-mail__icon">
        </div>
        <p class="contacts-mail__email">optima@mail.ru</p>
      </div>
    </div>
  </div>
</footer>
