.footer {
  min-width: 300px;
  height: 400px;
  background-color: var(--primary-color);
  color: var(--font-text);
}

.footer__content {
  height: 100%;
  display: flex;
  justify-content: space-between;

  .footer-left {
    width: 50%;
    padding-top: 139px;
    padding-left: 20px;
    padding-right: 20px;

    .footer-left__down {
      font-weight: 500;
      font-size: 14px;
      padding-bottom: 121px;
    }
  }

  .footer-right {
    width: 29%;
    padding-top: 139px;

    .footer_times {
      color: gray;
      font-size: 17px;
      margin-bottom: 32px;
    }
  }
}

.footer-left__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;

  .footer-left__logo img {
    width: 186px;
  }

  .footer-left__nav {
    width: 50%;
    display: flex;
    flex-direction: column;

    .footer-left__nav-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .footer-left__nav-bottom {
      display: flex;
      justify-content: space-between;
    }
  }
}

.footer-left__nav__link {
  font-size: 20px;
  color: var(--font-text);

  &:hover {
    color: var(--hover-text);
  }
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .contacts-phone__call {
    display: flex;
    align-items: center;

    .contacts-phone__call-number {
      margin: 0 15px;
      font-size: 20px;
    }
  }
}

.footer-social__icons {
  display: flex;

  .footer__icon {
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s;
  }

  .telegram {
    background-image: url("src/assets/images/footer/Telegram.png");

    &:hover {
      background-image: url("src/assets/images/footer/Telegram_hover.png");
    }
  }

  .whatsapp {
    background-image: url("src/assets/images/footer/whatsapp.png");

    &:hover {
      background-image: url("src/assets/images/footer/whatsapp_hover.png");
    }
  }

  .viber {
    background-image: url("src/assets/images/footer/viber.png");

    &:hover {
      background-image: url("src/assets/images/footer/viber_hover.png");
    }
  }
}

.contacts-mail {
  display: flex;
  height: var(--icons-size);
  align-items: center;

  .contacts-mail__icon {
    background-image: url("src/assets/images/header/header-up/mail.png");
    background-position: center;
    width: var(--icons-size);
    height: var(--icons-size);
    margin-right: 12px;
    background-repeat: no-repeat;
  }
}

.footer__stick {
  display: none;
}

.footer__stick__vl {
  display: flex;
  justify-content: center;
  position: relative;
  width: 1px;
  height: 100%;
  background-color: #524336;

  .vl-left {
    bottom: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-right: 5px solid #524336;
    border-bottom: 3px solid transparent;
    transform: rotate(90deg);
  }

  .vl-right {
    top: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-right: 5px solid #524336;
    border-bottom: 3px solid transparent;
    transform: rotate(-90deg);
  }

}


@media screen and (max-width: 860px) {
  .footer {
    height: 536px;

  }

  .footer__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: normal;


    .footer-left {
      width: 100%;
      padding: 70px 20px;


      .footer-left__down {
        padding-bottom: 0px;
      }
    }

    .footer-right {
      width: 100%;
      padding: 70px 20px;

      .footer_times {
        margin-bottom: 32px;
      }
    }
  }

  .footer__stick__vl {
    display: none;

    .vl-left {
      display: none;
    }

    .vl-right {
      display: none;
    }
  }

  .footer__stick {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #524336;
    margin-bottom: 13px;

    #triangle-left {
      right: 0;
      position: absolute;
      width: 0;
      height: 0;
      border-top: 3px solid transparent;
      border-right: 5px solid #524336;
      border-bottom: 3px solid transparent;
    }

    #triangle-right {
      left: 0;
      position: absolute;
      width: 0;
      height: 0;
      border-top: 3px solid transparent;
      border-left: 5px solid #524336;
      border-bottom: 3px solid transparent;
    }
  }

}


@media screen and (max-width: 540px) {
  .footer {
    height: 701px;
  }

  .footer__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: normal;


    .footer-left {
      padding: 56px 20px;

      .footer-left__up {
        flex-direction: column;
        justify-content: normal;

        .footer-left__nav {
          padding-top: 32px;
          width: 100%;
        }
      }

      .footer-left__down {
        display: none;
      }

    }

    .footer-right {
      padding: 56px 20px;

      .footer-social {
        flex-direction: column;
        align-items: normal;

        .footer-social__icons {
          padding: 32px 0;
        }
      }
    }
  }

  .footer-left__nav__link {
    font-size: 17px;
  }

}
