.about {
  font-family: 'Jost', sans-serif;
  background: #eeeeee;

  &__content {
    display: flex;
  }

  &__img-wrap {
    & img {
      object-fit: cover;
      height: 100%;
    }
  }

  &__info {
    margin: 90px 40px 0;
    max-width: 460px;;
  }

  &__title {
    font-family: 'Forum', cursive;
    font-weight: normal;
    font-size: 45px;
    color: var(--gold-color);
    margin-bottom: 1rem;
  }

  &__text {
    font-size: .95rem;
    line-height: 24px;
    color: var(--text-color);

    p:first-child, :nth-child(2), :nth-child(3) {
      margin-bottom: 1rem;
    }
  }

  &__btn {
    margin-top: 40px;
    padding: .85rem 3rem;
  }
}

@media screen and (max-width: 1020px) {
  .about {
    &__content {
      display: block;
    }

    &__info {
      max-width: none;
    }
  }
}
