<div class="about">
    <div class="about__content">
      <div class="about__img-wrap">
        <img alt="" src="../../../../../assets/images/home/about.jpg">
      </div>
      <div class="about__info">
        <div class="about__title">Магазин оптики Optima</div>
        <div class="about__text">
          <p>
            Приветствуем вас в Optima — это динамично-развивающийся проект, созданный командой специалистов с целью
            развития оптической культуры. Мы знаем, насколько важно грамотно и точно подобрать оправу или солнцезащитные
            очки учитывающие рекомендации офтальмолога, а также стилистически и эстетически подходящую именно вам и
            вашему
            образу.
          </p>
          <p>
            Удобная интуитивная навигация сайта позволяет легко подобрать вам оправу или солнцезащитные очки по вашему
            вкусу.
          </p>
          <p>Наш призыв - начните уделять серьезное внимание своим глазам и своему зрению.</p>
          <p>
            Мы работаем напрямую с ведущими мировыми поставщиками и производителями — это означает 100 % лицензионное
            качество
            товаров и доступные цены.
          </p>
          <button class="about__btn btn" routerLink="about-company">
            О компании
          </button>
        </div>
      </div>
    </div>
</div>
