.hide__menu {
  position: absolute;
  padding: 44px 0;
  width: 518px;
  background-color: #f5f5f5;
  top: 10px;
  left: -50px;
  font-size: 17px;
  z-index: 999;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
}

.menu-top {
  padding: 0 50px;
  display: flex;
  color: black;
  margin-bottom: 30px;

  .menu-top__item {
    display: flex;
    flex-direction: column;

    .menu-top__link {
      text-decoration: none;
      color: #3E424B;
      font-weight: 600;
      margin-right: 30px;
      margin-bottom: 3px;
    }

    .menu-top__line {
      display: none;
      width: 79%;
      height: 1px;
      background-color: #BB8C5F;
      align-items: center;
      position: relative;

      .line__diamond-left {
        top: -1.5px;
        position: absolute;
        right: 100%;
        width: 4px;
        height: 4px;
        background-color: #BB8C5F;
        transform: rotate(-45deg);
      }

      .line__diamond-right {
        top: -1.5px;
        position: absolute;
        left: 100%;
        width: 4px;
        height: 4px;
        background-color: #BB8C5F;
        transform: rotate(-45deg);
      }
    }
  }
}

.active {
  .menu-top__link {
    color: #BB8C5F !important;
  }

  .menu-top__line {
    display: flex !important;
  }
}

.header-stick {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #D0D0D0;
  margin-bottom: 13px;
}

#triangle-left {
  right: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-right: 5px solid #D0D0D0;
  border-bottom: 3px solid transparent;
}

#triangle-right {
  left: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-left: 5px solid #D0D0D0;
  border-bottom: 3px solid transparent;
}


.hide__menu-down {
  padding: 37px 50px 0px 50px;
  display: flex;

  .menu-down__catalog {
    display: flex;

    .catalog-item__list:first-child {
      margin-right: 75px;
    }


    .catalog-item__list li {
      margin-bottom: 1.5rem;
    }

    .catalog-item__list li:last-child {
      margin-bottom: 0;
    }

    .catalog-item__list li a {
      font-weight: 400;
    }
  }

  .menu-down__brand {
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;

    .brand-item__list li a {
      font-weight: 400;
    }

    .brand-item__list li {
      margin-bottom: 1.5rem;
    }

    .brand-item__list li:last-child {
      margin-bottom: 0;
    }
  }
}
