.cart {
  padding: 1rem 0;
  margin-bottom: 40px;
  font-family: 'Jost', sans-serif;

  &__title {
    margin-bottom: 30px;
  }
}

.empty-cart {
  border: 1px dotted black;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 1rem 0;

  img {
    width: 40%;
    margin-bottom: 1.5rem;
  }

  h2 {
    margin: 30px 0;
  }

  .empty-cart__btn {
    padding: 8px 30px;
    border: 2px solid var(--hover-text);
    background-color: #eee;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }
}

th, td {
  text-align: center;
  border-bottom: 2px solid black;
}


.btn-close {
  opacity: 0.3;
  background-color: transparent;
  border: none;

  &:hover {
    opacity: 1;
  }
}

.cart-product {
  &__id {
    font-size: 1rem;
  }

  &__image {
    width: 104px;
  }

  &__text {

  }

  &__price {
    color: var(--gold-color);
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__quantity {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.quantity {
  &__btn {
    border: none;
    color: var(--text-color);
    outline: none;
    background-color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }

  &__text {
    display: inline-block;
    width: 40px;
    text-align: center;
    font-size: .85rem;
    padding: 0.2rem 0;
    border: 1.5px solid var(--gold-color);
    margin: 0 25px;
  }
}

.total-price {
  display: flex;
  justify-content: center;
  align-items: center;

  &__value {
    margin-left: 10px;
  }
}

.cart-btn {
  border: 1px solid var(--text-color);
  padding: 0.4rem 0.8rem;
  outline: none;
  cursor: pointer;
  transition: opacity ease-in-out 0.15s;

  &:hover {
    opacity: 0.8;
  }
}

