.contacts {
  font-family: 'Jost', sans-serif;
  padding: 50px 0;

  &__title {
    margin-bottom: 50px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
  }

  &__left {
    width: 100%;
    margin-top: 1.5rem;

    h3 {
      padding-left: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 1.5rem;
      border-bottom: 1px solid #ccc;
      width: 100%;
    }

    h4 {
      font-size: 1.25rem;
    }

    h4, p {
      padding-left: 1.5rem;
      margin: 10px 0;
    }

  }

}
