<div class="container contacts">
  <div class="contacts__title">
    <h1 class="title-section">
      Контакты
    </h1>
  </div>
  <div class="contacts__content">
    <div class="contacts__left">
      <h3>Салоны оптики:</h3>
      <div class="contacts__saloon">
        <h4>Адрес:</h4>
        <p>г.Самара пл.Куйбышева</p>
        <h4>Время работы:</h4>
        <p>Понедельник - Суббота, с 9:00 до 20:00</p>
      </div>
    </div>
    <div class="contacts__right">
      <app-map></app-map>
    </div>
  </div>
</div>

