<div *ngIf="!preloader" class="products-items">
  <div class="products__title container">
    <h1 class="title-section">Каталог</h1>
  </div>
  <div class="cart-top container">
    <button (click)="filterByCategory('')" class="btn cart-top__btn">Все товары</button>
    <button (click)="filterByCategory(category)" *ngFor="let category of categoryList"
            class="btn cart-top__btn">{{category}}</button>
  </div>
  <div class="filter container">
    <div class="filtered ">
      <p class="filter__text">
        Цена
      </p>
      <form [formGroup]="form" class="filtered__price">
        <div
          [ngClass]="{invalid: form.get('min').touched && form.get('min').invalid}"
          class="form-control"
        >
          <input (keyup)="setMinPrice($event)" class="filtered__input" formControlName="min" id="min" type="text">
          <div
            *ngIf="form.get('min').touched && form.get('min').invalid"
            class="validation validation__text"
          >
            <small *ngIf="form.get('min').errors?.pattern">Введите число</small>
          </div>
        </div>
        <p class="filtered__dash">&mdash;</p>
        <div
          [ngClass]="{invalid: form.get('max').touched && form.get('max').invalid}"
          class="form-control"
        >
          <input (keyup)="setMaxPrice($event)" class="filtered__input" formControlName="max" id="max" type="text">
          <div
            *ngIf="form.get('max').touched && form.get('max').invalid"
            class="validation validation__text"
          >
            <small *ngIf="form.get('max').errors?.pattern" class="warning">Введите число</small>
          </div>
        </div>
      </form>
    </div>
    <div class="filtered">
      <form [formGroup]="form" class="filtered__sort-gender">
        <div class="form-control">

          <button (click)="filterByGender('man')" class="btn cart-top__btn" value="man">Для мужчин</button>
          <button (click)="filterByGender('women')" class="btn cart-top__btn" value="women">Для женщин</button>
          <button (click)="filterByGender('unisex')" class="btn cart-top__btn" value="unisex">Унисекс</button>

        </div>
      </form>
    </div>
    <div class="filtered ">
      <p class="filter__text">
        Сортировка
      </p>
      <form [formGroup]="form" class="filtered__sort-price">
        <div
          [ngClass]="{invalid: form.get('max').touched && form.get('max').invalid}"
          class="form-control"
        >
          <select (change)="sortProducts()" class="filtered__select" formControlName="sort" name="">
            <option class="filtered__option" value="increase">По возрастанию</option>
            <option class="filtered__option" value="decrease">По убыванию</option>
            <option class="filtered__option" value="alphabetically">По алфавиту</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="filterCategory.length else productListEmpty" class="container products">
    <div *ngFor="let product of filterCategory | filter:searchKey:'title'"
         class="products__item item"

    >
      <div [routerLink]="['/'+ NavigationPath.Catalog, product._id]" class="item__info">
        <div class="item__icon icon">
          <button (click)="addToFavorites(product, $event);" [ngClass]="{red: product.isFavorite}" class="icon__btn">
            <i class="fa-solid fa-heart"></i>
          </button>
        </div>
        <div class="item__image">
          <img alt="#" src="./assets/images/glasses/{{product.product.image}}">
        </div>

        <div class="item__text">
          <p class="item__title">{{product.product.title}}</p>
          <p class="item__price">{{product.price}} &#8381;</p>
        </div>
      </div>
      <div class="item__btns">
        <button
          (click)="addToCart(product)"
          *ngIf="!product.isAddToCart"
          class="item__btn btn"
        >
          Добавить в козину
        </button>
        <div *ngIf="product.isAddToCart" class="item__quantity quantity-info">
          <button (click)="decrementQuantity(product)" class="quantity-info__btn btn">&ndash;</button>
          <div class="quantity-info__text">
            <p class="quantity-info__title">{{product.quantity}} шт</p>
            <p class="quantity-info__in-cart">В корзине</p>
          </div>

          <button (click)="incrementQuantity(product)" class="quantity-info__btn btn">+</button>
        </div>
      </div>

      <!--      <button [routerLink]="['/catalog', product.id]"> Перейти в описание</button>-->
    </div>
  </div>
  <div *ngIf="isMore && filterCategory.length" class="container load-more">
    <button (click)="loadMore()" class="load-more__btn btn">Показать еще</button>
  </div>
  <ng-container *ngIf="loading">
    <div class="loader container">
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </ng-container>
  <ng-template #productListEmpty>
    <div class="container empty-list">
      <p>Товары не найдены!</p>
    </div>
  </ng-template>
</div>

<ng-container *ngIf="preloader">
  <div class="container preloader">
    <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-container>
